{% extends "index.html" %}
{% block content %}
{% include "/includes/header.html" %}



<div>    
    <form method="post">
        <label for="name">Name: </label>
        <input id="name" type="text" maxlength="100" name="name" value="{{team.name}}">
        <label for="league">League: </label>
        <input id="league" type="text" maxlength="40" name="league" value="{{team.league}}">
        <label for="wins">Wins: </label>
        <input id="wins" type="text" name="wins" value="{{team.wins}}">
        <label for="losses">Losses: </label>
        <input id="losses" type="text" name="losses" value="{{team.losses}}">
        <button type="submit" >Save</button>
    </form>
</div>

{% endblock %}